root = true
#适用所有文件
[*]
# 文件字符集为utf-8
charset = utf-8
# 缩进风格为tab
indent_style = space
# 缩进大小为2
indent_size = 2
# 换行符为lf
end_of_line = lf
# 插入文件末尾的空行
trim_trailing_whitespace = true
# 插入文件末尾的空行
insert_final_newline = true

# 适用于所有的markdown文件
[*.md]
max_line_length = off # 不限制行长度
trim_trailing_whitespace = false # 不删除行末尾的空格
